mdb-card {
  margin-left: 20px;
  margin-right: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.card-img {
  margin-left: 20px;
  margin-right: 15px;
}

/*::ng-deep mdb-card-img img.img-fluid {
  margin-top: 15px;
} */

#text {
  -webkit-text-fill-color: white;
}

mdb-badge {
  margin-right: 5px;
  margin-bottom: 15px;
}

#overview {
  margin-right: 200px;
}

.heading-center {
  -webkit-text-fill-color: white;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
