<div class="container-fluid app-container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2" id="sidebar">
      <h4>
        <i class="fa fa-file-movie-o"></i>
        Genre
      </h4>
      <mat-selection-list>
        <mat-list-option *ngFor="let genre of genres">{{genre.name}}</mat-list-option>
      </mat-selection-list>
      <mat-divider></mat-divider>
      <h4>
        <i class="fa fa-star"></i>
        Rating
      </h4>
      <mat-slider thumbLabel tickInterval="1" min="1" max="10"></mat-slider>

      <mat-divider></mat-divider>
      <h4><i class="fa fa-language"></i>Language</h4>
      <mat-selection-list>
        <mat-list-option *ngFor="let language of languages">{{language}}</mat-list-option>
      </mat-selection-list>

      <mat-divider></mat-divider>
      <h4><i class="fa fa-calendar"></i>Releasedate</h4>

      <mat-form-field>
        <input matInput [matDatepicker]="start" placeholder="start date" [value]="date.value">
        <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
        <mat-datepicker #start></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="end" placeholder="end date" [value]="date.value">
        <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
        <mat-datepicker #end></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
      <app-search></app-search>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
